language: julia

os:
  - linux

julia:
  - 1.4
  - 1.5
  - 1.6
  - nightly

matrix:
 allow_failures:
 - julia: nightly

notifications:
  email: false

after_success:
  # push coverage results to Codecov
  - julia -e 'using Pkg; cd(Pkg.dir("ConvexBodyProximityQueries")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
